<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    @* <a href="~/twitter-bootstrap/css/bootstrap.min.css.map">~/lib/twitter-bootstrap/css/bootstrap.min.css.map</a> *@

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Font Awesome for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/studentDashboard.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)

    @* <link rel="stylesheet" href="~/Exit_Interview_Analytics.styles.css" asp-append-version="true" /> *@
</head>
<body>
    <div>
        @RenderBody()
        <script src="~/js/studentDashboard.js"></script>
       
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Bootstrap Bundle includes Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-..." crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)
    
</body>
</html>
